*{
  margin: 0;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
   margin: 20px;
   text-align: center;
   font-size: 3rem;
   background-color:darkslateblue
   /* text-transform: uppercase; */
}
.container{
  width: 400px;
  height: 550px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color:rgb(70, 69, 69);
  margin: 20px;

}

.display_screen{
  width: 90%;
  height: 10%;
  border: 1px solid rgb(131, 130, 130);
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  background-color:rgb(15, 15, 15)
}
.display_screen input{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: larger;
  background-color:#807d7d;
  overflow:scroll;
}
.display_screen input:focus{
  background-color:#fafafa;
}
/* From Uiverse.io by gharsh11032000 */ 


.buttons{
  width: 85%;
  height: 70%;
  border: 1px solid rgb(131, 130, 130);
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4,70px);
  grid-template-rows: repeat(4,90px);
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color:rgb(10, 10, 10)
}
/* From Uiverse.io by levxyca */ 
button {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
  transition: all 0.2s ease;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
button:hover {
  background: #444444;
  box-shadow: 5px 5px #ffffff;
}
